.goog-te-combo {
  border: none; /* Border color */
  background-color: #2D9596; /* Background color */
  color: #fff; /* Text color */
  padding: 0px; /* Padding */
  cursor: pointer; /* Cursor style */
}